# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать файлы среды разработки
.vscode/
.idea/

# Игнорировать временные файлы
*.tmp
*.log

# Игнорировать зависимости (если вы используете npm)
node_modules/